.react-calendar {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: sans-serif;
  }
  
  .react-calendar__tile--now {
    background: #f5f5f5;
    border-radius: 8px;
  }
  
  .react-calendar__tile--active {
    background: #1D213C !important;
    color: white !important;
    border-radius: 8px;
  }
  
  .highlight {
    background-color: #1D213C !important;
    color: white !important;
    border-radius: 6px;
  }
  