.modal-overlay {
    isolation: isolate;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999 !important;
    animation: fadeIn 0.3s ease-in-out;
  }

  .modal-window {
    position: relative;
    background-color: #2c2c2c; 
    border-radius: 1rem; 
    max-width: 400px;
    width: 90%;
    animation: slideDown 0.3s ease-in-out;
  }

  .modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    max-width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .change-password-modal h1 {
    color: white;
    font-size: 30px;
  }

  .modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .modal-content input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .error-text {
    color: #ff4d1f;
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: 10px;
  }
  
  .save {
    width: 100%;
    padding: 12px;
    background-color: gray;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .save:hover {
    background-color: #ff4d1f;
    color: white;
  }

  .btn-orange.dimmed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* затемнение */
  border-radius: inherit;
  pointer-events: none; /* не мешает нажимать кнопку, если надо */
  z-index: 1;
  animation: fadeIn 0.3s ease-in-out; /* 👈 добавлена анимация */
}

.btn-orange {
  position: relative; /* чтобы ::after позиционировался по кнопке */
}


  /* Анимации */
@keyframes fadeIn {
    from {
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .fade-out {
    animation: fadeOut 0.3s forwards;
  }
  
  .slide-up {
    animation: slideUp 0.3s forwards;
  }
  
  @keyframes fadeOut {
    from { background-color: rgba(0, 0, 0, 0.5); }
    to { background-color: rgba(0, 0, 0, 0); }
  }
  
  @keyframes slideUp {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-30px); opacity: 0; }
  }
  