:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1D213C;
  background-color: #EBE6E2; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Literal';
  src: url('/fonts/Literal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.literal-bold-white {
  font-family: 'Literal', serif;
  font-weight: normal;
  font-size: 14px;
  -webkit-text-stroke: 0.5px #ffffff;
  letter-spacing: 1px;
  text-shadow: 0 0.2px 0.3px rgba(0, 0, 0, 0.3); /* визуальный bold */
}

.space-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.space-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.map-label {
  font-weight: bold;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.map-label.highlighted {
  color: #F44E1A;
  transform: scale(1.1);
}

.space-card {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.space-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.space-card1:hover .card-overlay .position-absolute:nth-child(1){
  background-image: url('/src/assets/Locations/IMG_2875.png');
  background-size: 120%; /* или 80% для уменьшения */
  background-repeat: no-repeat;
  background-position: center;
}

.space-card2:hover .card-overlay .position-absolute:nth-child(1){
  background-image: url('/src/assets/Locations/22e0f3d882004a08635bdb9d952db270.png');
    background-size: 120%; /* или 80% для уменьшения */
  background-repeat: no-repeat;
  background-position: center;
}

.space-card3:hover .card-overlay .position-absolute:nth-child(1){
  background-image: url('/src/assets/Locations/Kovorking_spb_1.png');
    background-size: 120%; /* или 80% для уменьшения */
  background-repeat: no-repeat;
  background-position: center;
}

.space-card4:hover .card-overlay .position-absolute:nth-child(1){
  background-image: url('/src/assets/Locations/8123ec3f19e41da39a191929fa693d27.png');
    background-size: 120%; /* или 80% для уменьшения */
  background-repeat: no-repeat;
  background-position: center;
}

/* Панель с описанием (белая часть) */
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  z-index: 2;
  transition: opacity 0.1s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Нижняя белая панель, содержащая описание */
.card-overlay .position-absolute:nth-child(1) {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  min-height: 200px;
  transition: opacity 0.1s ease;
  z-index: 2;
}


.card-description {
  font-size: 16px;
  padding-top: 50px;

}

.space-card:hover .card-description {
  opacity: 0;
}

.literal-bold {
  font-family: 'Literal', serif;
  font-weight: normal;
  font-size: 16px;
  -webkit-text-stroke: 1px #1D213C;
  letter-spacing: 0.3px;
  text-shadow: 0 0.2px 0.3px rgba(0, 0, 0, 0.3); /* визуальный bold */
}

.literal-superbold {
  font-family: 'Literal', serif;
  font-weight: normal;
  font-size: 130px;
  color: white;
  letter-spacing: 0.3px;
  text-shadow:
      2px 2px 6px rgba(0, 0, 0, 0.8),
      -2px -2px 6px rgba(0, 0, 0, 0.8);

  -webkit-text-stroke: 5px white;

  text-transform: lowercase;
}


a {
  font-weight: 500;
  color: #1D213C;
  text-decoration: inherit;
}
a:hover {
  color: #1D213C;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Literal, Inter, system-ui, sans-serif;
  background-color: #EBE6E2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #1D213C;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.admin-wrapper {
  background-color: #fff;
  color: #1D213C;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Literal, sans-serif;
}

.admin-wrapper h1 {
  font-size: 2rem;
}

.admin-wrapper a {
  color: #1D213C;
  text-decoration: none;
}

.admin-wrapper a:hover {
  color: #F44E1A;
  text-decoration: none;
}

.admin-wrapper .btn {
  background-color: transparent;
  color: #1D213C;
  border: 2px solid #1D213C;
  transition: background-color 0.3s, border-color 0.3s;
}

.admin-wrapper .btn:hover {
  color: #fff;
  background-color: #d53e12;
  border-color: #d53e12;
}

.admin-wrapper .nav-link {
  color: #1D213C !important;  /* Синий цвет по умолчанию */
}

.admin-wrapper .nav-link:hover {
  color: #d53e12 !important;  /* Оранжевый цвет на hover */
}

.admin-wrapper .nav-link.active {
  color: #1D213C !important;  /* Убираем синий после активации */
}

.admin-wrapper {
  position: relative;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: #F44E1A;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

.admin-sidebar {
  width: 220px;
  transition: width 0.3s ease;
}

.admin-sidebar.collapsed {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

.admin-content {
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.admin-sidebar.hover-expand {
  width: 80px;
  transition: width 0.3s ease;
  overflow-x: hidden;
}

.admin-sidebar.hover-expand:hover {
  width: 240px;
}

.sidebar-inner span {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-left: 8px;
}

.admin-sidebar:hover .sidebar-inner span {
  opacity: 1;
}

.sidebar-inner .nav-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.logo-full,
.logo-small {
  display: block;
  margin: 0 auto;
  transition: opacity 0.3s ease;
}

/* По умолчанию показываем маленький логотип, прячем большой */
.admin-sidebar.hover-expand .logo-full {
  display: none;
}

.admin-sidebar.hover-expand .logo-small {
  display: block;
}

/* При наведении на сам .admin-sidebar — переключаем логотипы */
.admin-sidebar.hover-expand:hover .logo-full {
  display: block;
}

.admin-sidebar.hover-expand:hover .logo-small {
  display: none;
}

.menu-link {
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  color: #212529;
  padding: 6px 12px;
  width: 100%;
  display: block;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-family: 'Literal', serif;
}

.menu-link:hover {
  color: #F44E1A;
}

@keyframes fadeInFast {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-fast {
  animation: fadeInFast 0.2s ease-in-out;
}
